<div class="container" style="margin-top: 2rem; text-align:center">
  <h2>新增餐廳資料</h2>
  <div style="margin-top: 2rem; text-align:center">
    <form action="/restaurants" method="POST">
      <div class="form-group">
        <label for="name" class="text-danger">*</label>
        <label for="name">餐廳名稱</label>
        <input type="text" placeholder="Sababa 沙巴巴中東美食..." name="name" required>
      </div>
      <div class="form-group">
        <label for="name_en">餐廳英文名稱</label>
        <input type="text" placeholder="Sababa..." name="name_en">
      </div>
      <div class="form-group">
        <label for="category" class="text-danger">*</label>
        <label for="category">餐廳類別</label>
        <input type="text" placeholder="中東料理..." name="category" required>
      </div>
      <div class="form-group">
        <label for="image" class="text-danger">*</label>
        <label for="image">餐廳照片</label>
        <input type="text" placeholder="image" name="image" required>
      </div>
      <div class="form-group">
        <label for="location">餐廳地點</label>
        <input type="text" placeholder="台北市..." name="location">
      </div>
      <div class="form-group">
        <label for="phone">餐廳電話</label>
        <input type="text" placeholder="02 123 4567..." name="phone">
      </div>
      <div class="form-group">
        <label for="google_map">餐廳地圖</label>
        <input type="text" placeholder="google_map" name="google_map">
      </div>
      <div class="form-group">
        <label for="rating" class="text-danger">*</label>
        <label for="rating">餐廳評分</label>
        <input type="number" placeholder="4.3" name="rating" min="0" max="5" step="0.1" required>
      </div>
      <div class="form-group">
        <label for="description" class="text-danger">*</label>
        <label for="description">餐廳敘述</label>
        <textarea name="description" id="description" class="form-control form-control-lg" rows="5"
          placeholder="沙巴巴批塔是台灣第一家純手工批塔..." required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>